#pagename {
    text-align:center;
    font-family: "Pixelify Sans";
    font-weight: bold;
}
input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#ambience {
    background-image: url("GitPics/farmscape.JPG");
}
