title {
    text-align: center;
    font-family: "Matemasie", system-ui;
}
body {
    widows: 2;
    orphans: 3;
}
h1 {
    font-family: "Pixelify Sans";
    font-weight: bold;
    text-align: center;
}
h3 {
    text-align: left;
}
section {
    font-family: "Futura";
}
p {
    text-align-last: center;
}
#Intro {
    background-color: rgb(191 43 17);
}
#Boutme {
    background-color: rgba(255,255,94,0.8);
}
#Abilities {
    background-color: rgba(185,185,184,0.7);
}
ul {
    text-align: left;
}