title {
    text-align: center;
    font-family: "Matemasie", system-ui;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
}
body {
    widows: 2;
    orphans: 3;
}
h1 {
    font-family: "Pixelify Sans";
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
h3 {
    text-align: left;
    font-size: 1.15rem;
}
section {
    font-family: "Futura";
}
p {
    text-align-last: center;
}
#Intro {
    background-color: rgb(191 43 17);
    border-radius: 45px 45px 0 0;
    margin: 15px 10px 0 10px;
}
#Boutme {
    background-color: rgba(255,255,94,0.8);
    margin: 0 10px 0 10px;
}
#Abilities {
    background-color: rgba(185,185,184,0.7);
    border-radius: 0 0 45px 45px;
    margin: 0 10px 0 10px;
}
.bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.bar li {   
    list-style: none; 
    display: inline-block;
    padding: 0;   
}
ul > footer {
    text-align: left;
}
@media screen and (max-width: 520px) {
    .bar {
        justify-content: space-between;
    }
/*My intent was to have the About Me and Work experience sections be flexboxes that display as columns, 
side-by-side on smaller screens, but I couldn't get that to work. I'll ask for some help and clarity.
A recent update broke some of my formating, and now the colored sections have no space between them and the ends of the window. I'll troubleshoot that.*/    
}
.col {
    display: flex;
}
@media screen and (max-width: 600px) {
    .col1,
    .col2 {
        flex-direction: column;
        width: 50%;
    }
}
@media (min-width: 600px) {
    p {
        font-size: 1.15rem;
        font-weight: 540;
        }
    }
    @media (min-width: 800px) {
    p {
        font-size: 1.2rem;
        line-height: 1.3;
        }
    }