
/* _______________________________
Styling copied from older pages
_______________________________ */

:root {
    --red: rgb(191 43 17);
    --yellow: rgba(255,255,94,0.8);
    --gray: rgba(185,185,184,0.7);
    --windowgray: rgba(185,185,184,0.38);
    --windowyellow: rgba(255,255,94,0.6);
    }

header h1 {
    text-align: center;
    font-family: "Pixelify Sans", system-ui;
    font-weight: bolder;
    border-radius: 45px 45px 0 0;
}

#pagename, #leadinginfo, .pagedescript {
    background-color: var(--red);
}

#TOC, .cntnts {
    background-color: var(--yellow);
}

h1#TOC {
    text-align: center;
}

#execSum, #prjparts, #closing {
	background-color: var(--gray);
    /* padding-left: 15px; */
}
#adverse, #aha, #vizDat {
    background-color: var(--yellow);
    /* padding-left: 15px; */
}

p.pagedescript {
    text-align: center;
    font-size: 1.5rem;
}

#endit:not(footer) {
    /*Adjusted to only have a border above contacts*/  
        background-color: var(--red);
        border-radius: 0 0 45px 0;
        /* padding-left: 15px; */
        /* padding-top: 1px; */
    }

p.sbjctmatter {
    /* This indents all of my Ps with subject content, only */
    text-indent: 1em; 
    margin: 0;
    font-family: "Futura", system-ui;
}

section h1, h2 {
    text-align: left;
    font-family: "Pixelify Sans", system-ui;
    font-weight: bold;
}

span.underln {
    text-decoration: underline;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /*background-color: #eee;*/
    background-color: var(--gray);
    margin: 10px 0 10px 0;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: 8px var(--red);
    outline-style: dotted;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #969696;
  }

.accordYL {
        background-color: var(--yellow);
        margin: 10px 0 10px 0;
        cursor: pointer;
        width: 100%;
        text-align: left;
        border: 8px var(--red);
        outline-style: dotted;
        transition: 0.4s;
    }
      
      /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordYL:hover {
        background-color: hsl(61, 38%, 49%);
      }

      /* Styling for the breadcrumbs */

    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
        background-color: #eee;
      }

    ul.breadcrumb li {
        display: inline;
        font-size: 18px;
      }

    ul.breadcrumb li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
      }

    ul.breadcrumb li a {
        color: #0275d8;
        text-decoration: none;
      }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
      }
/* ____________________________
New styling for this project
____________________________ */

/* Give text comfortable space from the edge */
body, section#leadinginfo, span.underln, h2#recomnd {
    padding: 0 15px;
    /* margin: 0 15px; */
}

.aspect>ul>li {
    max-width: 55%;
}

p.sbjctmatter.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
}

.introcontainer {
    position: relative;
    text-align: center;
}

.notemark {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Pixelify Sans", system-ui;
    font-size: 3.0em;
    transform: translate(-50%, -50%);
    background: var(--windowyellow);
    width: 85%;
}

/* Have this display on a top ROW instead on mobile devices */
img#searchtools {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 320px;
    min-width: 240px;
}

/* Map styling */

iframe#waspmap {
    margin: 0 auto;
    width: 85%;
    height: 550px;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
}

p:not(:last-of-type) {
    margin-bottom: 0;
}

p {
    padding: 0 15px;
    font-size: 1.15rem
}

section {
    padding-left: 15 px;
}

span.term {
    text-shadow: 0 1px 2px var(--red);
}

/* Image/Video styling */

img.colorfulnest {
    max-width: 200px;
    height: auto;
}

audio#songofwasp {
    display: block;
}

img.neStatus {
    width: 320px;
    min-width: 240px;
}

img#waspbannerdrawing {
    margin: 15px auto;
    display: block;
    width: 90%;
    max-width: 1800px;
    padding-bottom: 15px;
}

/* Commented out to test a grid layout; remove if effective!
img#searchtools {
    width: 320px;
    min-width: 240px;
    float: inline-start;
    padding-right: 15px;
} */

figure#deceptors {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 320px 320px;
    grid-template-rows: auto auto; 
    gap: 15px;
    background-color: var(--yellow);
    background-clip: padding-box;
    width: fit-content;
}

div.pic1 {
    grid-row-start: 1;
    grid-row-end: 3;
    }

div.pic2 {
    grid-row-start: 1;
    grid-row-end: 2;
}

div.pic3 {
    grid-row-start: 2;
    grid-row-end: 3;
}

img.misleadingthings {
    width: 320px;
    min-width: 240px;
}

img.misleadingthings:hover {
    transform: scale(1.4);
    transform-origin: top left;   
}

/* img.misleadingthings:nth-of-type(2), img.misleadingthings:nth-of-type(3) {
    display: inline-block;
} */

figure#mapforeafter {
    padding: 0 15px;
    width: 575px;
    height: auto;
    background-color: var(--yellow);
    background-clip: padding-box;
    align-items: center;
    margin-left: 15px;
}

img.mapmethods {
    width: auto;
    height: 400px;
    padding-bottom: 15px;
}

figure#mapforeafter>figcaption {
    caption-side: bottom;
    width: 530px;
    height: auto;
    justify-content: center;
    text-align: center;
}

figure#waspsonbuildings {
    display: inline;
    background-color: var(--yellow);
}

figure#nestructure, figure#wingingestswing {
    margin: 10px 15px;
    padding: 15px;
    background-color: var(--windowyellow);
    background-clip: padding-box;
    border-radius: 0 55px 55px 0
}

figure#nestructure>img {
    height: 350px;
    width: auto;
    padding-top: 5px;
}

figure#nestructure>img:first-of-type {
    border-radius: 75px 0 0 0;
}
figure#nestructure>img:last-of-type {
    border-radius: 0 0 75px 0;
}

figure#wingingestswing>img {
    height: 300px;
    width: auto;
}

#hexandhex>img {
    height: 250px;
    width: auto;
    margin-left: 15px;
}

#hexandhex>figcaption {
    caption-side: bottom;
    max-width: 375px;
    background-color: var(--yellow);
    height: auto;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-left: 15px;
    padding: 0 45px;
}

img.observe {
    width: 80px;
    height: auto;  
}

img.pageconcepts {
    width: 195px;
    height: auto;
    position: relative;
}

img.pageconcepts:not(:last-of-type) {
    margin-bottom: 5px;
}

/* Reminder: Have these images magnify differently on small displays! */
img.observe:hover, img.pageconcepts:hover {
    position: relative;
    transform: scale(4.4);
    transform-origin: top left;
    display: block;
    z-index: 10;
}

/* This is meant to style images in the final section, but doesn't seem to work. */
/* body>div.panel>p.sbjctmatter>img.endshowing {
    object-fit: contain;
    display: block;
} */

img.endshowing {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 15px;
}

img.waspimage {
    display: inline;
    width: 250px;
    height: auto;
}

figure#draftpages {
    /* display: inline; */
    background-color: var(--yellow);
    background-clip: padding-box;
    /* justify-content: center; */
    /* width: fit-content; */
    width: 425px;
    min-width: 170px;
    height: auto;
    padding: 15px 0 15px 15px;
    margin-left: 15px;
    position: relative;
}

li.aspect>ul, ul#nestcount>li, ul#studypoint>li, ul#zrvations>li {
    list-style-image: url(GitPics/mywaspproject/liststinger.png);
}

li.aspect {
    list-style-image: url(GitPics/mywaspproject/Stingerlisthead.png);
    margin-left: 25px;
}

li.aspect>strong {
    background-color: var(--windowyellow);
    font-size: x-large;
    background-clip: border-box;
}

/* #waysofdoing>li.aspect:not(:last-of-type) {
    padding-bottom: 5px;
} */

li.aspect {
    padding-top: 35px;
}

ul#nestcount, ul#studypoint, ul#zrvations {
    margin-left: 15px;
}

/* -------------
TABLE STYLING 
------------- */
.nescondition>h3 {
    text-align: center;
    font-weight: bold;
    font-family: "Futura", system-ui;
}

table#statesofnest>caption {
    caption-side: top;
}

#deceptors>figcaption {
    caption-side: top;
}

/* Border image attempt; give some sections a wasp nest image background */
table#statesofnest, tr, td, th{
    border: 35px solid;
    border-image-source: url(GitPics/mywaspproject/nestcellsbackground.JPG);
    border-image-slice: 40 fill;
    border-collapse: collapse;
    margin: 12px;
    padding: 15px;
}

table#statesofnest td, table#statesofnest th{
    width: 25%;
    border-left: 20px solid black;
    border-right: 20px solid black;
}

th.nescondition {
    background-color: var(--gray);
}

tr#condescript>td {
    background-color: var(--windowgray);
    vertical-align: top;
    font-weight: bold;
    text-shadow: 1px 1px 4px var(--yellow);
}

th.nescondition>h3 {
    text-shadow: 0px 8px 4px var(--yellow);
}

table#statesofnest {
    background-image: url(GitPics/mywaspproject/IMG1392waspaperbackground.JPG);
    background-position: center;
    /* overflow-x: auto; */
}

td.nesprite {
    background-color: var(--windowyellow);
}

/* @media screen and (max-width: 600px) {
    img { 
     max-width: 440 px;
     height: auto;
 }
 } */
